@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url("https://images.unsplash.com/photo-1557683316-973673baf926") no-repeat center;
  background-size: cover;
  position: relative;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(2, 6, 23, 0.8);
  backdrop-filter: blur(8px);
  z-index: -1;
}